* {
    box-sizing: border-box;
    scrollbar-color: #202324 #454a4d;
}

h1, h2, h3 {
    margin-bottom: 0;
}

body {
    display: flex;
    color: rgb(201, 196, 189);
    margin: 0;
}

#side-panel{
    flex-basis: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    background-color: #222;
}

#display-note{
    flex-basis: 80%;
    height: 100vh;
    background-color: #33373a;
    overflow-y: scroll;
}

.panel-element {
    cursor: pointer;
    padding-left: 5%;
    padding-top: 1%;
}

#side-header {
    border-bottom: 1px solid white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

a {
    color: whitesmoke;
}
