doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='styles/rdocs.css')
  body
    section(class='layout' id='side-panel')
      h3(id='side-header') Select a note
      each note in notes
        div(class='panel-element')=note
    section(class='layout' id='display-note')
